.header {
  background: #333;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  align-items: center;
}

.appname {
  margin: auto;
}

.nav {
  margin: auto;
}

.header a {
  color: #fff;
  text-decoration: none;
}
